<p>userlogin works!</p> 
<form  #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
    <label for="Email" class="form-label">Enter Email</label>
    <input #Email="ngModel" required minlength="4" maxlength="35" type="text" name="Email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="enter Email" class="form-control form-control-lg" ngModel>
    <div *ngIf="Email.invalid && (Email.dirty || Email.touched ||f.submitted)">
        <small *ngIf="Email.hasError('required')">Email is a required field ></small>
        <small *ngIf="Email.hasError('pattern')">This is not a valid Email</small>
    </div>
    <label for="Password" class="form-label">Enter Password</label>
    <input #Password="ngModel" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" minlength="8" maxlength="15" type="text" name="Password"  placeholder="enter Password" class="form-control form-control-lg" ngModel>
    <div *ngIf="Password.invalid && (Password.dirty || Password.touched ||f.submitted)">
            <small *ngIf="Password.hasError('required')">Password is required</small>
            <small *ngIf="Password.hasError('minlength')">Password must be at least 8 charachters</small>
            <small *ngIf="Password.hasError('pattern')">Alphanumeric with at least 1 special & uppercase character</small>
    </div>
    <button type="submit" class="btn btn-warning btn-lg ms-2">Submit</button>

</form>