<div class="loginwrapper">
    <!-- <div class="logo" [routerLink]="['/']">
        <img src="../../../assets/logo1.png">
    </div> -->
    <div class="logincontainer">
        <h1 class='loginform__heading'>Login</h1>
        <form class="loginform" #f="ngForm" novalidate (ngSubmit)="f.form.valid && onSubmit(f)" >
            
            <div class="inputcontainer">
                <label class="label">Email</label>
                <input type='email' class='loginform__input' name="Email" autoComplete="off" required ngModel
                    #Email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                <div *ngIf="Email.invalid && (Email.dirty || Email.touched ||f.submitted)">
                    <small>
                        <mat-error *ngIf="Email.errors?.['required']">Email is a required field</mat-error>
                    </small>
                    <small *ngIf="Email.errors?.['pattern']">This is not a valid Email</small>
                </div>
            </div>

            <div class='pwdcontainer inputcontainer'>
                <label class="label">Password</label>
                <input id='password' class='loginform__input' name="Password"
                    ngModel #Password="ngModel" minLength="8" autoComplete="off" required />
    

                <div *ngIf="Password.invalid && (Password.dirty || Password.touched ||f.submitted)">
                    <small *ngIf="Password.errors?.['required']">Password is required</small>
                    <small *ngIf="Password.errors?.['minlength']">Password must be at least 8 charachters</small>
                </div>
            </div>
            <button type="submit" class="submitbtn"> Login </button>
            <a class="loginsignupbtn" [routerLink]="['/usersignup']">Create Account<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>

        </form>

    </div>
</div>