<div class="card-wrapper" *ngFor = "let a of flightdetails">
    <div class="card"  >
        <div class="card__section card__flight" >
            <div class="card__flight--logo">
                <div class="card__flight__logo__img"></div>
            </div>
            <div class="card__flight--number">
                {{a.flightName}}
            </div>
        </div>
        <div class = "card__location card__section">
            <div class="card__location--time">
                {{a.departure_Time | date:'dd MMM yyyy hh:mm a'}}
            </div> 
        
        </div>
        <div class="card__section card__duration">
            <div class="card__duration--name">LBJ AIRLINES</div>
            <div class="card__duration--type">NON-STOP</div>
        </div>
        <div class = "card__location card__section">
            <div class="card__location--time">
                {{a.arrival_Time | date:'dd MMM yyyy hh:mm a'}}
            </div> 
        </div>
        <div class="card__section card__booking">
            <div class="card__booking--price" *ngIf = "class_type=='economic'">
            ₹ {{a.economy_fare}}
            </div>
            <div class="card__booking--price" *ngIf = "class_type=='business'">
                ₹ {{a.business_fare}}
            </div>
            <div class="card__booking--book">
                <button class="book" (click) = "onBookNow(a)">Book Now</button>
            </div>
        </div>
    </div>
</div>
