<div class="planewrapper">

<div class="plane">
    <div class="cockpit">
      <h1>Please select a seat</h1>
    </div>
    <div class="exit exit--front fuselage">
      
    </div>
<div >
    <div id="container">
    
    <ul id="leftContainer">
    <li *ngFor="let item of seatsArray" (click)="checkAvailable(item)"><div [ngClass]="{active: check(item)}" [ngStyle]="{'background-color':disable(item)?'red':'#45abc7'}" [ngClass]="{disabled: disable(item)}" class="leftbox">{{item}}</div></li>
    
   </ul>
    
    
    </div>
   
   </div>
   <div class="m-5">
   
       <table>
        <tr>
        <th>Seat&nbsp;&nbsp;&nbsp;&nbsp;</th>
 
   
   
    <th>Class</th>
    </tr>
    <tr *ngFor="let item of selectedArray">
    <td>{{item}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
 
    <td>{{class_type}}</td>
    </tr>
    
    </table>
   </div>
   <div style="text-align:center;"><button class="btn btn-success cursor-pointer mb-5" (click)="submitSeats()">Confirm</button></div>
   
       
  </div>
</div>