<div class="loginwrapper">
    <div class="logincontainer">
        <h1 class='loginform__heading'>Change Your Password</h1>
         
        <form class="loginform" action="" method="post" name="signupForm" id="signupForm" #myform="ngForm" (ngSubmit)="onSubmit(myform.value)">
            <div class="inputcontainer">
                <label class="label">Email</label>
                <input type="Email" id="Email" name="Email" required ngModel>
                
                
        </div>
            <div class='pwdcontainer inputcontainer'>
                <label class="label">Old Password</label>
                <input type="password" id="old_password" name="old_password" required ngModel #password = "ngModel" 
                minlength="8"  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
                <fa-icon [icon]  =  "visible ? faEye : faEyeSlash"  (click) = "onClick()" class="loginform__toggleicon"></fa-icon>
                <div *ngIf="password.invalid && (password.dirty || password.touched ||myform.submitted)">
                    <small *ngIf="password.hasError('required')">Password is required</small>
                    <small *ngIf="password.hasError('minlength')">Password must be at least 8 charachters</small>
                    <small *ngIf="password.hasError('pattern')">Alphanumeric with at least 1 special & uppercase character</small>
                </div>
            </div>
            <div class='pwdcontainer inputcontainer'>
              <label class="label">New Password</label>
            <input type="password" id="new_password" name="new_password" required  ngModel                
            minlength="8"  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
            <fa-icon [icon]  =  "visible ? faEye : faEyeSlash"  (click) = "onClick()" class="loginform__toggleicon"></fa-icon>
            <div *ngIf="password.invalid && (password.dirty || password.touched ||myform.submitted)">
                <small *ngIf="password.hasError('required')">Password is required</small>
                <small *ngIf="password.hasError('minlength')">Password must be at least 8 charachters</small>
                <small *ngIf="password.hasError('pattern')">Alphanumeric with at least 1 special & uppercase character</small>
            </div>
            </div>
            <div class="buttonWrapper">
              <button type="submit" id="submitButton" click="make()" class="submitbtn">
                <span>Confirm</span>
                <span id="loader"></span>
              </button>
            </div>


        </form>

    </div>
</div>
